* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  border-bottom: solid 1px black;
  padding: 20px;
  background-color: antiquewhite;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
